.works-container {
    background: linear-gradient(270deg, #0E335D 0%, #154B89 100%);
    padding: 96px 151px;

    .image {
        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }

    .title {
        font-family: "LoewNextBold";
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0px;
        color: #FFFFFF;

        .underline-title {
            position: relative;
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                left: 5px;
                bottom: 6px;
                width: 96%;
                height: 23px;
                background-color: #4e93e4;
                border-radius: 2px;
                z-index: -1;
            }
        }
    }

    .journey {
        font-family: "LoewNextBold";
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0%;
        vertical-align: bottom;
        color: #FFFFFF;
    }

    .number {
        width: 35px;
    }

    .info {

        .fisrt-info {
            font-family: "LoewNextBold";
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0;
            vertical-align: middle;
            color: #FFFFFF;
        }

        .second-info {
            font-family: "LoewNextMeduim";
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0;
            vertical-align: bottom;
            color: #FFFFFF;
        }
    }

    .action {
        font-family: "LoewNextBold";
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #FFFFFF;
    }

    .show-platform {
        font-family: "LoewNextBold";
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0;
        vertical-align: middle;
        color: #FFFFFF;
    }

    button {
        width: 227px;
        height: 48px;
        padding: 0 24px 15px 24px;
        border-radius: 6px;
        border: 1px solid #F3F4F6;
        color: #FFFFFF;
        font-family: "LoewNextBold";
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0;
        text-align: center;
        background-color: transparent;

        path {
            fill: white;
        }
        
        &:hover {
            background-color: #E5E7EB;
            border: 1px solid #E5E7EB;
            color: #154B89;
            transition: all .03s ease-in-out;
             path {
                fill: #154B89;
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .works-container {
        padding: 20px;

        .title {
            font-size: 36px;
            line-height: 42px;

            .underline-title {
                &::after {
                    bottom: 4px;
                    height: 16px;
                }
            }
        }

        .image img {
            width: 100%;
            height: auto;
        }
    }
    
}