.navbar {
    background-color: #F9FAFB;
    box-shadow: 0px 4px 20px 0px #4361EE0D;
    height: 80px;
    padding-right: 160px;
    padding-left: 160px;

    .nav {
        .link {
            padding: .5rem 1rem;
            text-transform: capitalize;
            font-family: "LoewNextBold";
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #111827;
            text-decoration: none;
            &:hover {
                color: #154B89;
                text-decoration: underline;
                cursor: pointer;
                text-underline-offset: 15px;
                text-decoration-thickness: 2.4px;
            }
            &.active {
                color: #154B89;
                text-decoration: underline;
                text-underline-offset: 15px;
                text-decoration-thickness: 2.4px;
            }
        }
    }

    .login {
        button {
            width: 78px;
            height: 36px;
            border-radius: 6px;
            background-color: #154B89;
            border: 1px solid #154B89;
            font-family: "LoewNextBold";
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0;
            text-align: center;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 5px;
        }
    }
}


@media screen {
    .navbar {
        padding-right: 10px;
        padding-left: 10px;

        .sidebar-toggle {
            display: block;
            cursor: pointer;
            color: #111827;
            font-size: 2.5rem;
        }
    }
}
