.terms-conditions {
    background-color: #f7f7f9;
    padding: 10px 151px;

    h1 {
        line-height: 120%;
        letter-spacing: 0px;
        text-align: center;
        position: relative;
        display: inline-block;
    }

    .content {
        height: auto;
        border-radius: 8px;
        padding: 24px;
        background-color: #FFFFFF;
        box-shadow: 0px 3px 5px 0px #0000000D; 
    }
}