::ng-deep {
    .row {
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {


nav {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 99999999;
}

.side-bar-section-absolute {
    transform: translateX(-180%);
    width: 268px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: all .3s ease-in-out;
}

.side-bar-section-absolute-active {
    transform: translateX(0%);
    width: 268px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: all .3s ease-in-out;
}
}