<div class="faq">
    <div class="text-center">
        <h1>FAQ’s</h1>
    </div>
    <div class="accordion mt-4">
        <p-accordion>
        <p-accordion-panel value="0">
            <p-accordion-header>Is it similar to the real IELTS?</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    Yes! Our platform is designed to closely simulate the real IELTS experience. From the question types and difficulty level to the test format and timing, everything is carefully modeled to reflect the actual exam — so you can prepare with confidence.
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1" class="mt-3">
            <p-accordion-header>How fast do I get results?</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    Yes! Our platform is designed to closely simulate the real IELTS experience. From the question types and difficulty level to the test format and timing, everything is carefully modeled to reflect the actual exam — so you can prepare with confidence.
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="2" class="mt-3">
            <p-accordion-header>Can I practice only Speaking or Writing?</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    Yes! Our platform is designed to closely simulate the real IELTS experience. From the question types and difficulty level to the test format and timing, everything is carefully modeled to reflect the actual exam — so you can prepare with confidence.
                </p>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
    </div>
</div>