.faq {
    padding: 45px 151px 80px 151px;
    background-color: #FFFFFF;
    min-height: 485px;
    h1 {
        font-family: "LoewNextBold";
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: center;
        color: #154B89;
        position: relative;
        z-index: 1;
        display: inline-block;

        &::after {
            content: "";
            position: absolute;
            left: 5px;
            bottom: 6px;
            width: 96%;
            height: 23px;
            background-color: #a6c9f1;
            border-radius: 2px;
            z-index: -1;
        }
    }

    ::ng-deep {
        .accordion {
        .p-accordionpanel {
            border-radius: 4px;
            box-shadow: 0px 3px 5px 0px #0000000D;
            border: 1px solid #9CA3AF;
           
            .p-accordionheader {
                background-color: #F9FAFB;
                color: #111827;
                font-family: "LoewNextMeduim";
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0;
            }

            .p-accordioncontent {
                .p-accordioncontent-content  {
                    background-color: #F9FAFB;
                    font-family: "LoewNextMeduim";
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: 0;
                    color: #111827;
                }
            }
        }
    }
    }
}

@media screen and (max-width: 768px) {
    .faq {
        padding: 48px 24px;

        h1 {
            font-size: 32px;
            line-height: 140%;
        }

        ::ng-deep {
            .accordion {
                .p-accordionpanel {
                    .p-accordionheader {
                        font-size: 14px;
                    }

                    .p-accordioncontent {
                        .p-accordioncontent-content {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    
}