<div class="side-bar">
    <div class="side-bar-header">
        <img loading="lazy" src="assets/images/Logo.svg" alt="logo" class="logo">
    </div>
    <div class="side-bar-body">
        <ul class="side-bar-menu">
            <li class="side-bar-menu-item mb-2" routerLinkActive="active">
                <a class="side-bar-menu-item-link d-flex align-items-center">
                    <span>Home</span>
                </a>
            </li>
            <li class="side-bar-menu-item mb-2">
                <a class="side-bar-menu-item-link d-flex align-items-center">
                    <span>About Us</span>
                </a>
            </li>
            <li class="side-bar-menu-item mb-2">
                <a class="side-bar-menu-item-link d-flex align-items-center">
                    <span>Plane & Pricing</span>
                </a>
            </li>

            <li class="side-bar-menu-item mb-2">
                <a class="side-bar-menu-item-link d-flex align-items-center">
                    <span>Support & Faq</span>
                </a>
            </li>

            <li class="side-bar-menu-item mb-2">
                <a class="side-bar-menu-item-link d-flex align-items-center">
                    <span>Contact us</span>
                </a>
            </li>
        </ul>
    </div>
</div>