@import 'bootstrap/scss/bootstrap';
@import "primeicons/primeicons.css";

@font-face {
    font-family: 'LoewNextBold';
    src: url('./assets/fonts/LoewNext-Bold-BF63fd638abb9de.otf') format('opentype');
}

@font-face {
    font-family: 'LoewNextMeduim';
    src: url('./assets/fonts/LoewNext-Medium-BF63fd638a9ff86.otf') format('opentype');
}
